:root{
    /*Primary*/

    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);

    /*Neutral*/

    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);

}


*{
    font-family: 'Poppins', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

html{
    box-sizing: border-box;
    font-size: 16px;
}

body{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--Light-grey);
}

.contenedor{
    padding: 2rem;
    height: 83vh;
    width: 75vw;
    border-radius: 2rem 2rem 10rem 2rem;
    background-color: var(--White   );
    
}


.cabecera form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cabecera form label{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--Smokey-grey);
    margin-bottom: 0.5rem;
    transition-duration: 0.7s;
}

.cabecera form .errorLabel{
    color: var(--Light-red);
}

.cabecera form .inputs{
    display: flex;
    flex-direction: column;
}


.cabecera form .inputs input{
    border: 1px solid var(--Light-grey);
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
    transition: 0.7s;
}

.cabecera form .inputs .errorBorde {
    outline: 1.5px solid var(--Light-red);
}

.cabecera form .inputs input:hover{
    cursor: pointer;
}

.cabecera form .inputs input:focus-visible{
    outline: 1.5px solid var(--Purple);
}

.boton{
    display: flex;
    align-items: center;
}

.boton hr{
    width: 90%;
    border: 1px solid var(--Light-grey);
}
.boton .enviar{
    margin-right: 1rem;
    border-radius: 50%;
    background-color: var(--Purple);
    border: none;
    width: 5rem;
    height: 5rem;
}

.boton .enviar:hover{
    background-color:var(--Off-black);
    cursor: pointer;
    transition: 0.3s;
}

.boton img{
    width: 55%;
}



.cuerpo{
    display: flex;
    flex-direction: column;
    font-size: 6.8rem;
    line-height: 7rem;
    
}

.cuerpo .cuerpo__resultado{
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    
}

.cuerpo .cuerpo__resultado p{
    margin: 0 0 0 1rem;
}

.cuerpo .cuerpo__resultado span{
    color: var(--Purple);
}

.error{
    margin: 0.5rem 0 0 0;
    color: var(--Light-red);
    font-weight: 400;
    font-size: 0.7rem;
    position: relative;
    position: relative;
    animation-name: errorP;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    
}

@keyframes errorP {
    0%{
        top:-.5rem;
        
    }

    25%{
        top: .5rem;
    }
    50%{
        top:-.5rem ;
    }

    75%{
        top: .5rem;
    }

    100%{
        top:0;
    }
}



/*View Mobile */

@media (max-width: 376px) {
    body{
        height: 80vh;
    }
    .contenedor{
        height: 70vh;
        width: 90vw;
        border-radius: 1rem 1rem 10rem 1rem;
    }

    .cabecera form .inputs input{
        width: 85%;
        height: 3rem;
        font-size: 1rem;
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .cabecera form .inputs label{
        font-size: 0.7rem;
    }

    .boton{
        position: relative;
    }

    .boton hr{
        width:100%;
        margin-top: 3rem;
    }

    .boton .enviar{
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 38%;
        top: 34%;
    }

    .cuerpo{
        font-size: 3rem;
        line-height: 3rem;
        margin-top: 3rem;
    }

    .cuerpo span{
        font-size: 2.5rem;
    }
}

@media (min-width: 376px) and (max-width:840px){


    .contenedor{
        min-width: 370px;
        height: 70vh;
    }
    
    .cabecera form .inputs input{
        max-width: 10rem;
        width: 90%;
        font-size: 1rem;
    }

    .cuerpo{
        font-size: 3.5rem;
        line-height: 5rem;
    }

    .cuerpo span{
        font-size: 3rem;
    }

    .boton .enviar{
        width: 5rem;
        height: 4rem;
        margin-top: 1rem;
    }
}

